include ../../bundle.pug

include ../../Blocks/order/order.pug

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Список | Vodopoj
   body.rel
      +devicer().col
         +panel-main().p1
            h2 В работе
            +order(true)
            h2 Заявки поблизости
            +order(false)
         +panel-nav(2)
