include ../../bundle.pug

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Вход, Регистрация | Vodopoj
      link(rel="stylesheet" href=`${link}.css?ver=${ver}`)
   body.rel
      +devicer().row.jcc.aic
         main.m1.p1
            h1.m0.fz1 Волонтерская помощь
            h2.m0.mb1o25.fzo75 Вода. Симферополь
            form(action="./PHP/account/check.php" method="post")
               +input('Логин/Email/Телефон', 'login').w100
               +input('Пароль', 'password')(type="password").w100.mto75.mb1o25
               .row.mbo25.buttons
                  +link('', '#').mro75
                     +button('Вход', 'filled', 'c3').w100(type="submit")
                  +link('', './?page=register')
                     +button('Регистрация', 'outlined', 'c3').w100(type="button")
            .row.jcc
               +link('Забыли пароль?', './forgot-password').fzo75
         .abs.bottomo5.fzo75
            +link('Разработано командой FRITY', 'http://frity.ru').frity-link