include ../../bundle.pug

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Регистрация | Vodopoj
   body.rel
      +devicer().row.jcc.aic
         main.m1.p1.rel
            +link('', './login.html').abs.right1.tdn.fz1o5.topo5
               | &larr;
            h1.m0.fz1 Регистрация
            h2.m0.mb1o25.fzo75 Вода. Симферополь
            .col
               +input('Имя Отчество')
            .col.mt1
               +input('Логин').mbo5
               +input('Email').mbo5
               +input('Телефон').mbo5
            .col.mt1
               +input('Пароль')(type="password").mbo5
               +input('Пароль ещё раз')(type="password").mbo5
            .col.mbo25.mto5
               +link('', './enter-type.html').w100
                  +button('Зарегистрироваться', 'filled', 'c3').w100
         .abs.bottomo5.fzo75
            +link('Разработано командой FRITY', 'http://frity.ru').frity-link