include __button/panel-nav__button.pug
mixin panel-nav(curr)
   nav.panel-nav.row.jcc.aic&attributes(attributes)
      +panel-nav__button('Карта', 'icon-nav-map.svg', './?page=map', (curr==1)).dn
      +panel-nav__button('Список', 'icon-nav-list.svg', './?page=list', (curr==2))
      +panel-nav__button('Настройки', 'icon-nav-settings.svg', './?page=settings', (curr==3))
      