mixin panel-nav__button(title, icon, href, curr = false)
   a(href=href).panel-nav__button.col.rel(class=curr ? 'panel-nav__button_current' : '')&attributes(attributes)
      div.row.jcc.aic.w100
         img(src=`./attach/img/${icon}`)
      span.abs.w100.tac= title