include Basic/devicer/devicer.pug
include Basic/input/input.pug
include Basic/button/button.pug
include Basic/link/link.pug
include Blocks/panel-main/panel-main.pug
include Blocks/panel-nav/panel-nav.pug
