mixin order(in_work = true)
   .order(class=in_work ? 'order_in-work' : 'order_other')&attributes(attributes)
      .order__address.ff-os-r г. Симферополь, ул. Уличная, д. 000, кв. 000
      .order__content.po5
         table.order__customer.col.aic.mbo25
            tr
               td.fwb Заказчик:
               td
                  .order__customer-name Фёдор Андреевич
            tr
               td.fwb Телефон:
               td
                  +link('+7 (978) 000-00-00', 'tel:+79780000000').order__customer-phone
         .order__comment.fzo75.
            Это рыба-текст. Этот текст предназначен для того, чтобы заполнить пустые места в станице и не обращать внимание клиента на текст, и позволить ему сконцентрироваться на самом дизайне.
      .order__buttons.rel
         div.row
            if in_work
               +button('Отказаться', 'outlined', 'c2')
               +button('Выполнено', 'outlined', 'c5')
            else
               +button('Откликнуться', 'outlined', 'c3')
            +button('На карте', 'outlined', 'c15')
            button(style="pointer-events: none; opacity: 0; width: 1em; padding: 0.15em")